* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('bg.png');
    background-size: cover;
    background-repeat:repeat;
    background-position: top right;
    background-size: 100px 100px;
    height: 100vh;
}
.card {
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.me-card {
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 80vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
body , .card , form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form {
    margin-top: 25px;
}
button {
    padding: 15px;
    background-color: #37B7C3;
    color: whitesmoke;
    font-size: 18px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
#resultContainer {
    border-top: 1px solid black;
    padding: 25px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}